[Unit]
Description=headless sway session running steam for streaming

[Service]
UnsetEnvironment=WAYLAND_DISPLAY DISPLAY SWAYSOCK I3SOCK
Environment=WLR_BACKENDS=headless WLR_LIBINPUT_NO_DEVICES=1 DISPLAY=:42
ExecStartPre=sh -c "printf \"\
output HEADLESS-1 resolution 1920x1080\n\
default_border pixel 1\n\
default_floating_border pixel 1\n\
exec ~/bin/pasandbox steam\n\
exec wayvnc 0.0.0.0\n\
\" > %T/%U-headless_steam_sway"
ExecStart=sway -c %T/%U-headless_steam_sway
Restart=always

[Install]
WantedBy=default.target
