[Unit]
Description=pipes alsa loop output (i.e. alsa client output) to jack
Requires=jackd.service
After=jackd.service

[Service]
ExecStart=alsa_in -j alsa2jack -d cloop
ExecStartPost=sleep 1
ExecStartPost=jack_connect alsa2jack:capture_1 system:playback_1
ExecStartPost=jack_connect alsa2jack:capture_2 system:playback_2
Restart=always
RestartSec=3s

[Install]
WantedBy=default.target
