[Unit]
PartOf=sway-session.target
After=sway-session.target
Requisite=sway-session.target

[Service]
ExecStart=kanshi
Restart=always

[Install]
WantedBy=sway-session.target
