[Unit]
Description=automounter
PartOf=sway-session.target
After=sway-session.target
Requisite=sway-session.target

[Service]
ExecStart=udiskie -an -F -t --no-terminal
Restart=always

[Install]
WantedBy=sway-session.target

