[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/mpv/scripts/mpv_sponsorblock_minimal"]
	path = .config/mpv/scripts/mpv_sponsorblock_minimal
	url = https://codeberg.org/jouni/mpv_sponsorblock_minimal.git
[submodule ".zsh/fzf"]
	path = .zsh/fzf
	url = https://github.com/unixorn/fzf-zsh-plugin.git
