[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".status_blocks"]
	path = .status_blocks
	url = https://github.com/Rouji/status_blocks.git
[submodule "Documents/rei/lmdbpp"]
	path = Documents/rei/lmdbpp
	url = https://github.com/Rouji/lmdbpp.git
[submodule "Documents/lmdbjdict/tinyxml2"]
	path = Documents/lmdbjdict/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
