* {
    border:        none;
    border-radius: 0;
    font-family:   "Source Sans Pro";
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: #999;
    background-color: black;
}

window#waybar.solo {
    color: #999;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #999;
}

#workspaces button.focused {
    color: rgba(115, 186, 37, 1);
}

#workspaces button.visible {
    color: rgba(115, 186, 37, 1);
}

#workspaces button.urgent {
    color: rgba(33, 164, 223, 1);
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#tray {
    margin-left:10px;
}
